extends ../aalayout/layout

block content
	.container.mt-4
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 账户
						th delete
				tbody
					each ader in aders
						-a;
						tr(class="ader-id-"+ader._id)
							td #{ader.code}
							td
								a.btn.btn-danger.del(href="/aderDel/"+ader._id) delete