extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/mger") 操作页面
				li.breadcrumb-item: a(href="/product/"+product.id) 产品
				li.breadcrumb-item.active(aria-current="page") 产品sku: [#{variation.id}]

		if errorInfo
			-a;
			.text-danger.text-center #{errorInfo}
		else if product.status == "publish"
			-a;
			include ./detail/basicPublish
		else
			.basicPage
				include ./detail/basic
			