.my-5.text-right
	button.btn.btn-warning#postPageBtn(type="button") 新种类
//- #postPage.my-5
#postPage.my-5(style="display:none")
	form#postForm(method="post", action="/categoryPost", enctype="multipart/form-data")
		.row.border.rounded.py-3
			label.text-right.col-4.col-sm-2.col-form-label(for="nameIpt")#nameLabel 种类名称
			.col-8.col-sm-4
				input#nameIpt.form-control(type="text", name="data[name]")
			.offset-4.offset-sm-2.col-8.col-sm-10#nameOpt.text-danger(style="display:none")
				span 请输入种类名称
		.row.border.rounded.py-3
			label.col-3.col-sm-2.col-form-label 产品图片
			input#uploadImg.btn.btn-info.btn-block(type="file", name="fls", style="display:none")
			.col-9
				.row
					.col-2
						img#crtImg(src="/icon/img.jpg", width="100%")
		hr
		.form-group.row
			.offset-sm-10.col-sm-2
				button.btn.btn-success.btn-block#createPdBtn(type="submit") 提交

script(src="/js/mger/category/post.js")
script(src="/js/global/imageEdit.js")