extends ../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/mger") 操作页面
				//- li.breadcrumb-item.active(aria-current="page") 账单列表
		if errorInfo
			-a;
			.text-danger.text-center #{errorInfo}

		.row.my-4
			.col-6.col-md-3.col-lg-2.text-center.mt-3
				a.btn.btn-default(href="/products")
					img(src="/icon/indicate.png", width="30px", height="30px")
					.text-dark.mt-2 产品
			.col-6.col-md-3.col-lg-2.text-center.mt-3
				a.btn.btn-default(href="/customers")
					img(src="/icon/indicate.png", width="30px", height="30px")
					.text-dark.mt-2 客户
			.col-6.col-md-3.col-lg-2.text-center.mt-3
				a.btn.btn-default(href="/orders")
					img(src="/icon/indicate.png", width="30px", height="30px")
					.text-dark.mt-2 订单
		hr
		.row.my-4
			.col-6.col-md-3.col-lg-2.text-center.mt-3
				a.btn.btn-default(href="/categories")
					img(src="/icon/indicate.png", width="30px", height="30px")
					.text-dark.mt-2 产品分类
			//- .col-6.col-md-3.col-lg-2.text-center.mt-3
				a.btn.btn-default(href="/medias")
					img(src="/icon/indicate.png", width="30px", height="30px")
					.text-dark.mt-2 媒体库

	//- script(src="/js/mger/index.js")