button.btn.btn-secondary.hideImagesBtn(type="button") 返回
form#productPutForm
	input(type="hidden", name="id", value=product.id)
	#woo-images.row
	.text-right
		button#productPutBtn.btn.btn-success(type="button") 提交

hr
#wp-images

script(src="/js/mger/product/wp-images.js")