- let stripe_currency, stripe_fee, stripe_net;
each orderMeta in order.meta_data
	-a;
	if orderMeta.key == "_stripe_currency"
		- stripe_currency = orderMeta.value;
	if orderMeta.key == "_stripe_fee"
		- stripe_fee = orderMeta.value;
	if orderMeta.key == "_stripe_net"
		-stripe_net = orderMeta.value;

.stripe.mt-5
	.text-right.mt-3
		span stripe 费用: 
		span.mx-3 #{stripe_fee} #{stripe_currency}
	.text-right.mt-3
		span stripe 净值:
		span.mx-3 #{stripe_net} #{stripe_currency}