extends ../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/ader") Home
				li.breadcrumb-item: a(href="/adUsers") 用户列表
				li.breadcrumb-item.active(aria-current="page") 用户信息
		.row
			.col-12.text-right
				include ./detail/upInfo
				span &nbsp;
				include ./detail/upCode
				span &nbsp;
				include ./detail/upPwd
		include ./detail/thisInfo
	input#extent(type="hidden", value=Stint.extent.user)
	script(src="/js/ader/userEdit.js")