extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/mger") 操作页面
				li.breadcrumb-item: a(href="/products") 产品列表
				li.breadcrumb-item.active(aria-current="page") #{title}

		hr
		form#createPdForm(method="post", action="/productPost", enctype="multipart/form-data")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="nameIpt")#nameLabel 产品名称
				.col-8.col-sm-10
					input#nameIpt.form-control(type="text", name="data[name]")
				.offset-4.offset-sm-2.col-8.col-sm-10#nameOpt.text-danger(style="display:none")
					span 请输入产品名称
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="regular_priceIpt")#regular_priceLabel 产品价格
				.col-8.col-sm-10
					input#regular_priceIpt.form-control(type="text", name="data[regular_price]")
				.offset-4.offset-sm-2.col-8.col-sm-10#regular_priceOpt.text-danger(style="display:none")
					span 请输入产品价格
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="short_descriptionIpt") 简述
				.col-8.col-sm-10
					textarea.form-control#short_descriptionIpt(name="data[short_description]",rows="10", placeholder="产品描述")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="categoriesIpt") 产品分类
				.col-8.col-sm-10
					- let i = 0;
					each category in categories
						- i++;
						.form-check.form-check-inline
							input.form-check-input.cbxIpt.cbxIpt-categories(type="checkbox" name="data[categories]["+i+"][id]" id="cbxIpt-categories-"+category.id value=category.id)
							label.form-check-label(for="cbxIpt-categories-"+category.id) #{category.name}
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="imagesIpt") 产品图片
				input#uploadImgs.btn.btn-info.btn-block(type="file", name="fls", multiple, style="display:none")
				.col-9
					.row#newImgs
						.col-2
							img#crtImgs.rounded-circle(src="/icon/img.jpg", width="100%")

			
			//- input(type="text" name="data[images][0][src]" value="https://www.poliform.it/ContentsFiles/19-10-07_OMAR-POLIFORM-VILLA-106-7774B-RID.jpg")
			//- input(type="text" name="data[images][1][src]" value="https://www.poliform.it/ContentsFiles/Code-home(0).jpg")

			hr
			.form-group.row
				.offset-sm-10.col-sm-2
					button.btn.btn-success.btn-block#createPdBtn(type="submit") 提交
	script(src="/js/mger/product/add.js")
	script(src="/js/mger/product/pdImgsEdit.js")